@model ProjectApp.Models.Person

@{
    ViewData["Title"] = "Smazat";
}

<h1>Smazat</h1>

<h3>Opravdu chcete smazat pojištence?  <br /><span style="color: blue;">@Model.Jmeno</span> <span style="color: blue;">@Model.Prijmeni</span></h3>
<div>
    <h4>Detaily pojištěnce:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jmeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jmeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijmeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijmeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoniCislo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoniCislo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CisloPopisne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CisloPopisne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PSC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PSC)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-action="Index">Zpět na Seznam</a>
    </form>
</div>
